.club-img {
    padding: 5%;
    margin-left: 3.2%;
    width: 30px;
    border-style: solid;
    border-color: black;
    border-radius:10px; ;
}

p {
    margin-left: 3.2%;
    font-size: 14px;
    margin-top:0.1%;
    margin-bottom:0.1%;
}

#p2 {
    font-size: 12px;
}