.feat-clubs-section {
    background-color: rgb(232,245,232);
    width: 100%;
    padding-bottom: 15%;
    
}

#featured-clubs {
    padding-bottom: 0%;
    padding-left: 0%;
    margin-left: 3%;
    margin-bottom: 0%;
}

#featured-clubs-text {
    padding-left: 0%;
    font-size: 12px;
    margin-left: 3.2%;
    margin-top: 0%;
}

#categories {
    margin-left: 3%;
}

button {
    width: 15em;
    margin-left: 3%;
    background-image: linear-gradient(rgb(0,0,45), rgb(0,0,100));
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px;
    
}

button:hover {
    background-image: linear-gradient(rgb(0,0,100), rgb(0,0,45));
}

#all-clubs {
    margin-left: 3%;
}
